entrypoint = "UnwieldyLovableButton/index.html"

[workflows]
runButton = "Serve HTML"

[[workflows.workflow]]
name = "Serve HTML"
author = 44521860
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd UnwieldyLovableButton && python -m http.server 8080 --bind 0.0.0.0"
